/*Global*/
* {
  margin: 0;
  padding: 0;
}
h1,
p,
li,
a {
  color: #fff;
  text-align: center;
}
a {
  color: #fff;
  text-decoration: none;
}
li {
  list-style-type: none;
}
header,
.scarlett,
.augusta {
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/*Header*/
header {
  background-image: url(images/circus_header.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Nav*/
h1 {
  margin-top: 230px;
  margin-bottom: 220px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #0e0d0dd0;
  padding: 20px;
  font-weight: 800;
}
/*Section Scarlett*/
.scarlett {
  background-image: url(images/aerial.jpg);
}
.scarlett .text-one {
  float: right;
  margin-left: 70%;
  margin-right: 15%;
  margin-top: 50px;
  line-height: 80px;
  width: 250px;
}
.scarlett .text-two {
  padding-top: 450px;
  margin-left: 90px;
  width: 350px;
}
/*section tristan-and-yseult*/
.tristan-and-yseult {
  background-color: #000000;
  padding: 100px;
  padding-top: 0;
}
.images {
  display: flex;
  margin: 30px;
}
.img-man img{
  margin-top: 170px;
  margin-right: 100px;
  float: right;
  width: 75%;
}
.img-woman img{
  margin-left: 150px;
  width: 90%;
}
.tristan-and-yseult .text-one {
  position: relative;
  text-align: right;
  top: 240px;
  line-height: 50px;
}
.tristan-and-yseult .text-one p {
  padding-left: 450px;
}
.tristan-and-yseult .text-two {
  top: 700px;
  bottom: 100px;
  position: relative;
  width: 500px;
}
/*section Augusta/section kriss */
.augusta {
  background-color: #140001;
  display: flex;
  justify-content: space-between;
}
.kriss {
  background-color: #350706;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100vh;
}
.kriss .images img {
  width: 110%;
}
.augusta .images {
  width: 35%;
  margin-bottom: 0;
}
.kriss .text .text-one,
 .text .text-two,
.augusta .text .text-one,
 .text .text-two {
  width: 500px;
  margin-left: 110px;
  margin-top: 110px; 
}
 .kriss .text .text-one,
 .text .text-two {
   margin-right: 50px;
 }